form {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
  margin: 11px;
}

button {
  width: max-content;
  margin-top: 12px;
}

.list-section {
  margin: 0 -40px;
}

.list-section li {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
  margin: 10px;
}
